   <!-- ======= Clients Section ======= -->
<!-- End Clients Section -->

{% if brand  %}
<img class="fadeout" src="themes/custom/theme_generate/assets/img/clients/{{ brand }}.png" class="img-fluid" alt="">
<div id="box1" >
<p>{{ filter  }}</p>
</div>
<p>
<a href="#" id="ocultar">Ocultar la capa</a> |
<a href="#" id="mostrar">Mostrar la capa</a>
</p>
{{ form.user_view }}
{% endif %}
<section id="portfolio" class="portfoio">
  <div class="container" data-aos="fade-up">
        <div id="team" class="team row">
          {% for i in 0..catalogo_obj|length - 1 %}
          <div class="card car-produ" >
            <img class="card-img-top" src={{ catalogo_obj[i].url_image }}  alt="Card image cap">
            <div class="card-body">
              <h4>{{ catalogo_obj[i].name_event }}</h4>
              <p>Marca: {{  catalogo_obj[i].name_brand }}</p>
              <p>{{ catalogo_obj[i].description|slice(0, 30) }}...</p>
              <p> Costo con Iva:${{ catalogo_obj[i].points_tapit|number_format(2) }}</p>
              <p>stock: {{ catalogo_obj[i].number_tickets }}</p></h4>
            </div>
            <a href="#team" class="btn btn-primary btn-get-started animate__animated animate__fadeInUp scrollto">Pedir</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>
  </section>

    <!-- The Modal -->
    <div id="catalogo" class="modal">
    
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
       <h1>Registrate y partisipa</h1>
        
        <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
      </div>
    
    </div>

