 
{% if content.field_activar_informacion[0]["#markup"] == "Activar Info" %}
  <div id="topbar" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i>{{ content.field_enlace_btn }}
        <i class="bi bi-phone-fill phone-icon"></i> {{ content.field_celular[0]["#context"]["value"] }}
        <i class="bi bi-whatsapp phone-icon"></i> {{ content.field_whatsapp[0] }}
      </div>
      <div class="cta d-none d-md-block">
        <a class="scrollto animate__animated animate" {{ attributes.setAttribute('style',  'background:'  ~  content.field_fondo_boton[0]["#context"]["value"]) }}>{{ content.field_texto_noton_redire[0]["#context"]["value"] }}</a>
      </div>
    </div>
  </div>
  {% endif %}
 
  {% if content.field_activar_informacion[0]["#markup"] ==  "desactivar Info"  %}
 <!-- ======= Hero Section ======= -->
 <div id="topbar" class="fixed-top d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
  <div class="hero d-flex justify-cntent-center align-items-center">
    <h1 class="animate__animated animate__fadeInUp scrollto"> {{ content.field_porcentaje_descuento[0]["#context"]["value"] }} </h1><p class="animate__animated animate__fadeInUp scrollto" > {{ content.field_promocion[0]["#context"]["value"] }}</p>  <a href= {{ content.field_enlace_de_formulario[0]["#context"]["value"] }} class="btn-get-started animate__animated animate__fadeInUp scrollto">{{ content.field_texto_boton[0]["#context"]["value"] }}</a>  <h1 class="animate__animated animate__fadeInUp scrollto">{{ content.field_porcentaje_descuento[0]["#context"]["value"] }} </h1>
</div>
  </div>
</div>
  {% endif %}
 