   <!-- ======= Clients Section ======= -->
   <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
         <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide category-menu"><img src="themes/custom/theme_generate/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->

<section id="portfolio" class="portfoio">
  <div class="container" data-aos="fade-up">
        <div id="team" class="team row">
          {% for i in 0..catalogo_obj|length - 1 %}
          <div class="card car-produ" style="width: 18rem;">
            <img class="card-img-top" src={{ catalogo_obj[i].url_image }}  alt="Card image cap">
            <div class="card-body">
              <h4>{{ catalogo_obj[i].name_event }}</h4>
              <span>Marca: {{  catalogo_obj[i].name_brand }}</span>
              <p>{{ catalogo_obj[i].description|slice(0, 30) }}...</p>
              <h4><sup> Valor caja:$</sup>{{ catalogo_obj[i].points_tapit }}<span> / Cantidad: {{ catalogo_obj[i].number_tickets }}</span></h4>
              <a href="#" class="btn btn-primary">Pedir</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>
  </section>

