   <!-- ======= Clients Section ======= -->
<!-- End Clients Section -->

{% if brand  %}
<img class="fadeout" src="themes/custom/theme_generate/assets/img/clients/{{ brand }}.png" class="img-fluid" alt="">
<div id="box1" >
<p>{{ filter  }}</p>
</div>
<p>
<a href="#" id="ocultar">Ocultar la capa</a> |
<a href="#" id="mostrar">Mostrar la capa</a>
</p>
{{ form.user_view }}
{% endif %}
<section id="portfolio" class="portfoio">
  <div class="container" data-aos="fade-up">
        <div id="team" class="team row">
          {% for i in 0..catalogo_obj|length - 1 %}
          <div class="card car-produ" >
            <img class="card-img-top" src={{ catalogo_obj[i].url_image }}  alt="Card image cap">
            <div class="card-body">
              <h4>{{ catalogo_obj[i].name_event }}</h4>
              <p>Marca: {{  catalogo_obj[i].name_brand }}</p>
              <p>{{ catalogo_obj[i].description|slice(0, 30) }}...</p>
              <p> Costo con Iva:${{ catalogo_obj[i].points_tapit|number_format(2) }}</p>
              <p>stock: {{ catalogo_obj[i].number_tickets }}</p></h4>
            </div>
            <a href="#team" class="modal-open-btn  btn btn-primary btn-get-started animate__animated animate__fadeInUp scrollto">Pedir</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>
  </section>
